
    body {
        background-color: #1a1a1a;
        font-family: "Quicksand", "sans-serif";
    }
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: "Quicksand", "sans-serif";
}
#sen{
    text-align: center;
    font-family: "Quicksand", "sans-serif";
}

.small-label {
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
    
  }
  .smaller-input {
    width: 20px; /* Defina o valor desejado para o tamanho do input */
  }

  #sen2{
    text-align: center;
    font-family: "Quicksand", "sans-serif";
}



@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

body {
    background-color: #1a1a1a;
    color: white;
    font-family: "Quicksand", "sans-serif";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: "Quicksand", "sans-serif";
}
#sen{
    text-align: center;
    font-family: "Quicksand", "sans-serif";
}

.small-label {
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
    
  }
  .smaller-input {
    width: 20px; /* Defina o valor desejado para o tamanho do input */
  }


