@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: white;
}
ul {
    font-family: 'Quicksand', sans-serif;
}